# ============================================================
# VDKJ Web App — Environment Variables
# Salin file ini menjadi .env lalu isi nilainya
# cp .env.example .env
# ============================================================

# IP Database Server (MySQL di LAN)
DB_HOST=192.168.56.10

# Port MySQL (default 3306)
DB_PORT=3306

# Password App1 (tanya Database Admin)
DB_PASS_APP1=your_app1_password_here

# Password App2 (tanya Database Admin)
DB_PASS_APP2=your_app2_password_here
